{{#*inline "page"}}

<div class="header">
  <h1>^o^ laenorweb2</h1>
  <h2>subtitle</h2>
</div>

<div class="pure-g">
  <div class="pure-u-1"><div class="box">
    <h3>Lucentium areas</h3>
  </div></div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
l.ddd
..?dd
ddddd</pre></div>
        <div class="name">Kundar-el-Alam</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
bbbFF
bb?FF
FFFFh</pre></div>
        <div class="name">Fraggle village</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
^^^^^
^^?h^
^^hhh</pre></div>
        <div class="name">Mirror mine</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
FFFF#
FF?F#
FFFFF</pre></div>
        <div class="name">Creepy house</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
bbjjj
Sb?jj
SSSSS</pre></div>
        <div class="name">Catfolk shipyard</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
jFjFF
FF?F.
..,..</pre></div>
        <div class="name">Astacia</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
fy/yy
y/?yf
/yyyy</pre></div>
        <div class="name">Cornfields</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
r=rr~
r+?yy
/fffy</pre></div>
        <div class="name">Lands of lore</div>
      </div>
    </a>
  </div>

  <div class="pure-u-1"><div class="box">
    <h3>Laenor areas</h3>
  </div></div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
l.ddd
..?dd
ddddd</pre></div>
        <div class="name">Kundar-el-Alam</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="maploc"><pre>
bbbFF
bb?FF
FFFFh</pre></div>
        <div class="name">Fraggle village</div>
      </div>
    </a>
  </div>

  <div class="pure-u-1"><div class="box">
      <h3>Monsters</h3>
  </div></div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">Gou'ljeg, a huge, ancient beholder</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">Sister Valentina the Chosen of Saints</div>
      </div>
    </a>
  </div>

  <div class="pure-u-1"><div class="box">
      <h3>Quests</h3>
  </div></div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 16: Black butterfly</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 16: Statue</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 17: Platter</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 17: Rob vault</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 18: Kobold staff</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">LQ 82: Assassinate the fairy queen</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">AQ: Treasuries of the nocilis valley</div>
      </div>
    </a>
  </div>

  <div class="pure-u-1"><div class="box">
      <h3>Others</h3>
  </div></div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">Cooking</div>
      </div>
    </a>
  </div>
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
    <a href="note.html">
      <div class="box area">
        <div class="name">Shipquests</div>
      </div>
    </a>
  </div>
</div>

{{/inline}}
{{~> (parent)~}}
